# Backend Specific Files and Directories
backend/venv
backend/db.sqlite3

# Frontend Specific Files and Directories
frontend/app/vue.config.js
frontend/app/babel.config.js
frontend/app/.browserslistrc
frontend/app/jsconfig.json
frontend/app/package-lock.json
frontend/app/package.json