<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Jibonge App</title>
</head>
<body>
    <p>Hey {{ user.first_name }} {{ user.last_name }},</p>

    <p>We are really excited to have you join us in preaching Swahili and Sheng to all people.
        Feel free to add hizo blogs zako zote hapa, angalau tuone the magic you possess.
        Karibu Jibonge! Jibambe! Jiongee!
    </p>
    <p>Best Regards,</p>
    <p>Watu wa Jibonge</p>
</body>
</html>